.story-item {
  text-align: center;
}

.story-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #e1306c;
  padding: 2px;
  object-fit: cover;
}

.story-item span {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
