<div class="container-fluid">
  <ul class="nav nav-underline mb-3 justify-content-center tab-container">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'posts'" (click)="setActiveTab('posts')">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'reels'" (click)="setActiveTab('reels')">Reels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'tagged'" (click)="setActiveTab('tagged')">Tagged</a>
    </li>
  </ul>

  <!-- Grid content -->
  <div class="row">
    <ng-container *ngIf="activeTab === 'posts' && posts.length > 0">
      <div class="col-4 mb-1 px-1" *ngFor="let post of posts">
        <div class="position-relative">
          <img [src]="post.photoUrl" class="img-fluid" alt="Post">
          <div class="position-absolute bottom-0 start-0 bg-dark text-white px-2 py-1 small">
            ❤️ {{ post.likes || 0 }}
          </div>
          <div class="position-absolute bottom-0 end-0 bg-dark text-white px-2 py-1 small text-truncate">
            {{ post.description }}
          </div>
          <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1" (click)="openDeleteModal(post.id!)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab === 'reels'">
      <!-- ... -->
    </ng-container>
    <ng-container *ngIf="activeTab === 'tagged'">
      <!-- ... -->
    </ng-container>
  </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Confirmar eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres eliminar este post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>