<div class="container-fluid">
  <ul class="nav nav-underline mb-3 justify-content-center tab-container">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'posts'" (click)="setActiveTab('posts')">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'reels'" (click)="setActiveTab('reels')">Reels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'tagged'" (click)="setActiveTab('tagged')">Tagged</a>
    </li>
  </ul>

  <!-- Grid content -->
  <div class="row">
    <ng-container *ngIf="activeTab === 'posts' && user">
      <div class="col-4 mb-1 px-1" *ngFor="let postUrl of user.postPhotos; let i = index">
        <img [src]="postUrl" class="img-fluid" [alt]="'Post ' + i" aria-label="Post">
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab === 'reels'">
      <!-- ... -->
    </ng-container>
    <ng-container *ngIf="activeTab === 'tagged'">
      <!-- ... -->
    </ng-container>
  </div>
</div>