.tab-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.nav-link {
  display: inline-block;
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

