<app-navbar></app-navbar>
<div class="container-fluid my-2">
   <div class="row justify-content-between align-items-center my-2">
      <div class="col-4 d-flex flex-column align-items-center">
         <h5 class="fw-bold mb-2">Pepe.Frog</h5>
         <div class="instagram-profile">
            <img src="/img/feed/profile_feed.png" alt="Profile Picture">
         </div>
      </div>
      <div class="col-8 d-flex flex-row pt-5">
         <div class="col d-flex flex-column align-items-center">
            <h6 class="fw-bold">1,234</h6>
            <p>Posts</p>
         </div>
         <div class="col d-flex flex-column align-items-center">
            <h6 class="fw-bold">5,678</h6>
            <p>Followers</p>
         </div>
         <div class="col d-flex flex-column align-items-center">
            <h6 class="fw-bold">9,101</h6>
            <p>Following</p>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col">
            <h6>Pepe.Frog</h6>
            <span class="text-body-secondary">Internet frog</span>
            <p>
               🌿 Pepe the Frog 🐸
               📸 Meme legend
               🌐 Spreading smiles one meme at a time
               💚 Living the frog life
               🎨 Artwork & laughs
               #PepeTheFrog #MemeLife #FrogLife #ArtAndLaughs
            </p>
         </div>
      </div>
   </div>
   <div class="container mb-2">
      <div class="row">
         <div class="d-flex gap-2">
            <button class="btn btn-secondary flex-fill profile-btn" type="button" aria-label="Edit profile"> Edit profile </button>
            <button class="btn btn-secondary bi bi-person-plus profile-btn" type="button" aria-label="Add Following"></button>
         </div>
      </div>
   </div>
   <app-story-scroller></app-story-scroller>
   <app-profile-tabs></app-profile-tabs>
</div>