nav {
  min-height: 3.5rem;
  max-height: 4.5rem;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.spacer {
  min-height: 3.5rem;
  max-height: 4.5rem;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.add-post-btn{
  border: none;
  background-color: transparent;
}

