<div class="container">
   <div class="row justify-content-center">
     <div class="col-md-6">
       <div class="mb-5 text-center">
         <img src="/img/instagram_logo.svg" alt="Instagram Logo" class="logo">
       </div>
       
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
         <div class="form-group form-floating mb-3">
           <input type="text" formControlName="userOrEmail" class="form-control" id="userOrEmail" placeholder="Username or Email" required>
           <label for="userOrEmail">Username or Email</label>
         </div>
         <div class="form-group form-floating mb-3 password-field">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="password" placeholder="Password" required>
            <label for="password">Password</label>
            <button type="button" class="btn btn-outline-secondary toggle-password" (click)="togglePasswordVisibility()">
              {{ showPassword ? 'Hide' : 'Show' }}
            </button>
          </div>
         <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">Login</button>
       </form>
       
       <div class="separator my-4">
         <span class="separator-text">Or</span>
       </div>
       
       <button type="button" class="btn btn-secondary w-100">Login with Facebook</button>
       
       <p class="mt-4 text-center">Don't have an account? <a routerLink="/register">Register here</a></p>
     </div>
   </div>
 </div>
 
 <!-- Toast -->
 <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
   <div id="liveToast" class="toast" [ngClass]="{'show': showToast}" role="alert" aria-live="assertive" aria-atomic="true">
     <div class="toast-header bg-danger-subtle">
       <strong class="me-auto">Error</strong>
       <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="showToast = false"></button>
     </div>
     <div class="toast-body ">
       {{ toastMessage }}
     </div>
   </div>
 </div>