.container {
   margin-top: 3rem;
 }
 
 .list-inline-item a {
   color: #000;
   text-decoration: none;
 }
 
 .list-inline-item a:hover {
   text-decoration: underline;
 }
 
 .text-center {
   text-align: center;
 }
 