<footer class="container mt-5">
   <div class="row">
     <div class="col-12 text-center">
       <ul class="list-inline">
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Acerca de</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Ayuda</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Prensa</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">API</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Empleo</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Privacidad</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Términos</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Cuentas principales</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Hashtags</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Ubicaciones</a></li>
         <li class="list-inline-item"><a class="link-dark link-underline link-underline-opacity-0" href="#">Instagram Lite</a></li>
       </ul>
     </div>
   </div>
   <div class="row">
     <div class="col-12 text-center">
       <p>© 2021 Instagram from Facebook</p>
     </div>
   </div>
 </footer>
 